/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

// html{
//      background-color: #303030;
// }


/* Snack Bar */

.snackbar-info {
    background-color: blue;
    color: lightblue;

    .mat-button-wrapper {
        color: lightblue;
    }
}

.snackbar-success {
    background-color: green;
    color: lightgreen;

    .mat-button-wrapper {
        color: lightgreen;
    }
}


.snackbar-warn {
    background-color: darkorange;
    color: black;
    .mat-button-wrapper {
        color: black;
    }
}

.snackbar-error {
    background-color: red;
    color: black;

    .mat-button-wrapper {
        color: black;
    }
}