<!-- <mat-card  style="margin: 20px;">

    <mat-card-content style="text-align: center;">
        <h1>Willkommen {{user.displayName}} <mat-icon>sentiment_satisfied_alt</mat-icon></h1>
        <iframe src="https://giphy.com/embed/1zRfp0Jwsag4yPekP4" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/perfect-loops-1zRfp0Jwsag4yPekP4"></a></p>
    </mat-card-content>
</mat-card>
<table class="table">
    <th>Header</th>
    <tr>
        <td>Daten</td>
    </tr>
</table>
<table class="table">
    <th>Header</th>
    <tr>
        <td>Daten</td>
    </tr>
</table>
<button (click)="meinButton()" >Click</button> -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>
