<mat-card style="background-color: rgb(214, 205, 75);">
    <mat-card-title>Neue Anfrage</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
        <form class="example-form">
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Anfrage-ID</mat-label>
                            <input matInput disabled [(ngModel)]="request.id" name="id">
                        </mat-form-field>
                    </td>
                    <td class="right">
                        <mat-form-field appearance="fill">
                            <mat-label>Budget</mat-label>
                            <input matInput disabled [(ngModel)]="request.budget" name="budget">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Benutzer</mat-label>
                            <input matInput [(ngModel)]="request.user" name="user">
                        </mat-form-field>
                    </td>
                    <td class="right">
                        <mat-form-field appearance="fill">
                            <mat-label>Freigabepersonal</mat-label>
                            <mat-select [(ngModel)]="request.approver" name="approver">
                                <mat-option *ngFor="let approver of approvers" [value]="approver.id">
                                    {{approver.displayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Status</mat-label>
                            <input matInput disabled [(ngModel)]="request.status" name="status">
                        </mat-form-field>
                    </td>
                    <td class="right">
                        <mat-form-field appearance="fill">
                            <mat-label>Anfragedatum</mat-label>
                            <input matInput [matDatepicker]="picker" [(ngModel)]="request.date" name="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Fahrzeugmodell</mat-label>
                            <mat-select [(ngModel)]="request.carmodel" name="carmodel">
                                <mat-option *ngFor="let model of carmodels" [value]="model.model">
                                    {{model.displayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td class="right">
                        <mat-form-field appearance="fill">
                            <mat-label>Freigabe</mat-label>
                            <input matInput disabled [(ngModel)]="request.approvalStatus" name="approvalStatus">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <mat-form-field appearance="fill" style="width: 95%">
                            <mat-label>Beschreibung</mat-label>
                            <textarea matInput [(ngModel)]="request.description" name="description"></textarea>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button style="background-color: white; color: black;" (click)="createRequest()">Erstellen</button>
    </mat-card-actions>
</mat-card>