<table>
    <th  colspan="2" style="border-bottom: 1pt solid black;">
        <h3 style="margin: 10px;">Entgegennehmen</h3>
    </th>
    <tr>
        <td colspan="2" style="padding-top: 5px;">
            <textarea cols="50" rows="10" placeholder="--- Nachricht schreiben ---"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <button mat-raised-button color="primary">Annehmen</button>
        </td>
        <td style="float: right;">
            <button mat-raised-button color="warn">Ablehnen</button>
        </td>
    </tr>
</table>